<div class="card_room">
    
     
    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/rooms/room1/room-1.jpg" alt="" >
    

    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs_white.svg" alt="corazón favoritos" class="heart_favs">
    
    
    <div class="flechas"> 
        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/left.svg" alt="Izquierda" class="flecha" width="20">
        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/right.svg" alt="Derecha" class="flecha" width="20">
    </div>
    
    <div class="info_room">
        <div>
            <p>Tipo de habitación</p>
            <small>Ubicación</small>
        </div>
        <div class="precio">
            <p>Precio</p>
        </div>
    </div>
</div>
