<header>
  <div id="logoBox">
    <a href="http://localhost:4200/rooms">
      <img src="assets/logo_rooms.svg"
      alt="Logo de rooms"
      width="85"
      class="logo">
    </a>
    <!-- 
      <div class="container_buscador">
        <input type="text" name="buscador" id="buscador"
        placeholder="Escribe aquí un lugar">
        <div class="iconoSearch"></div>
      </div>
    -->
  </div>
  <nav>
    <ul>
      <li>
        <a href="mis-publicaciones">
          Mis publicaciones
        </a>
      </li>
      <li>
        <a href="mis-favoritos">
          Mis favoritos
        </a>
      </li>
      <li>
        <span
        class="nombreUsuario"
        (click)="mostrarPerfilCard()">
        NombreUsuario
      </span>
    </li>
  </ul>
</nav>
<app-perfil-card [hidden]="mostrarPerfil"></app-perfil-card>
</header>
