<header>
  <div id="logoBox">
    <img src="assets/logo_rooms.svg"
         alt="Logo de rooms"
         class="logo">
    <div class="container_buscador">
      <input type="text" name="buscador" id="buscador"
             placeholder="Escribe aquí un lugar">
      <div class="iconoSearch"></div>
    </div>
  </div>
  <nav>
    <ul>
      <li>
        <a href="#">
          Mis publicaciones
        </a>
      </li>
      <li>
        <a href="#">
          Mis favoritos
        </a>
      </li>
      <li>
        <a href="#"
           class="nombreUsuario">
          NombreUsuario
        </a>
      </li>
    </ul>
  </nav>
</header>
