<header>
  <div id="logoBox" class="menu_responsive">
    <a href="rooms">
      <img src="assets/logo_rooms.svg"
      alt="Logo de rooms"
      width="85"
      class="logo">
    </a>
    <!--
      <div class="container_buscador">
        <input type="text" name="buscador" id="buscador"
        placeholder="Escribe aquí un lugar">
        <div class="iconoSearch"></div>
      </div>
    -->
    <div (click)="showMenu()">
      <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/icons/menu.png" alt="menú" width="30" [hidden]="mostrarMenu">
    </div>
    <div class="menu__container_responsive" [hidden]="mostrarMenu">
      <ul class="lista_menuresp">
        <a href="mi-perfil" class="enlace_mr">
          <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/e15a83804bf36e0562951cb1bc22ab8a5f284561/icons/user.svg" alt="Imagen de perfil" width="20">
          <li> {{ nameLogged }}</li>
        </a>
        <a href="editar-perfil" class="enlace_mr">
          <li class="edit_profile">Editar perfil</li>
        </a>
        <a href="mis-publicaciones" class="enlace_mr">
          <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/e15a83804bf36e0562951cb1bc22ab8a5f284561/icons/my_publications.svg" alt="Imagen de perfil" width="20">
          <li>Mis publicaciones</li>
        </a>
        <a href="mis-favoritos" class="enlace_mr">
          <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/e15a83804bf36e0562951cb1bc22ab8a5f284561/icons/heart.svg" alt="Imagen de perfil" width="20">
          <li>Mis favoritos</li>
        </a>
        <div class="enlace_mr">
          <li>
            <button class="cerrar_ss" (click)="logOut()">Cerrar sesión</button>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <nav [hidden]="mostrarNav">
    <ul *ngIf="isLogeado">
      <li>
        <a href="mis-publicaciones">
          Mis publicaciones
        </a>
      </li>
      <li>
        <a href="mis-favoritos">
          Mis favoritos
        </a>
      </li>
      <li>
        <span
          class="nombreUsuario"
          (click)="mostrarPerfilCard()">
          {{ nameLogged }}
      </span>
    </li>
  </ul>
    <ul *ngIf="!isLogeado">
      <li>
        <a href="iniciar-sesion">Iniciar sesión</a>
      </li>
      <li class="move">
        <div>|</div>
      </li>
      <li>
        <a href="registrarse">Registrarse</a>
      </li>
    </ul>
</nav>
<app-perfil-card *ngIf="isLogeado" [hidden]="mostrarPerfil"></app-perfil-card>
</header>
