<footer>
  <div class="footer">
    <div id="row">
      <div class="row_col">
        <div class="col_item">
          <p class="item_title">Rooms</p>
          <a href="nosotros">Sobre nosotros</a>
        </div>
        <div class="col_card">
          <p class="card_title">
            Tengo una habitación libre
          </p>
          <a href="publicar-habitacion">Publica tu habitación</a>
        </div>
      </div>
      <div class="row_col">
        <div class="col_item">
          <p class="item_title">Ayuda</p>
          <a href="como-funciona"
             class="col_item_link">
            Cómo funciona</a><br>
          <!-- 
          <a href="#"
             class="col_item_link">
            Preguntas frecuentes</a>
          --> 
        </div>
        <div class="col_item">
          <p class="item_title">Contacta con nosotros</p>
          <address class="item_addr">
            <p id="info_first">+34 123 456 789</p>
            <p>Av. Esta Avenida es una inventada, 35 Ciudad</p>
          </address>
        </div>
      </div>
      <div class="row_col">
        <div id="descarga_container">
          <p class="col_title">Descarga la app</p>
          <div class="descarga">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/apple.svg" alt="" width="35">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/google_play.svg" alt="" width="35">
          </div>
        </div>
        <div class="col_card">
          <p>Encuentranos en redes sociales</p>
          <div class="card_redes">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/instagram.svg" alt="" width="35">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/facebook.svg" alt="" width="35">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/twitter.svg" alt="" width="35">
          </div>
        </div>
      </div>
    </div>

    <p class="footer_text">
      &copy; 2022 - El sitio web rooms.com es un proyecto final para el ciclo
      superior de DAW ·
      <a href="#"
         class="footer_text_link"> Aviso legal y política de privacidad</a> ·
      <a href="#"
         class="footer_text_link"> Política de cookies</a>
    </p>
  </div>
  <div class="container_footer">
    <div class="waves">
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div>
  </div>
</footer>
