.container_eliminar_cuenta{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container__ec{
    width: 60%;
    height: auto;
    background-color: var(--light_blue);
    border-radius: 10px;
    box-shadow: 2px 0px 4px 3px rgb(0 0 0 / 25%);
    position: sticky;
    z-index: 999;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px 20px 40px;
}
.cerrar{
    align-self: flex-end;
    cursor: pointer;
}
.texto_eliminar{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
}
.texto_eliminar > h2{
    font-size: 1.25em;
}
a{
    font-size: 1.25em;
    color: var(--black_rooms);
    margin-top: 5px;
    text-decoration: underline;
  cursor: pointer;
}
a:hover, button:hover{
    font-weight: bold;
}
button{
    border-radius: 20px;
    background-color: white;
    color: var(--black_rooms);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
