/* HOME */

.img_fondo_home{
    margin: 0;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100%;
}
.container{
    margin-left: 80px;
    margin-right: 80px;
    width: 90%;
}
.title_home{
    padding-top: 200px;
    color: var(--black_rooms);
    margin-bottom: 50px;
    font-size: 30px;
}
.container__buscador{
    display: flex;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    width: 50%;
}
.buscador{
    padding: 20px;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Raleway';
    border-radius: 50px;
    width: 100%;
    background-color: transparent;
    justify-self: center;
}
.img_lupa{
    justify-self: flex-end;
    cursor: pointer;
}
.card_container{
    margin-top: 100px;
}

/* RESPONSIVE TABLET */
@media screen and (max-width: 820px){
    .container {
        margin-left: 34px;
        margin-right: 80px;
        width: 90%;
    }
    .container__buscador{
        width: 80%;
    }
    .buscador{
        font-size: 18px;
    }
    .title_home{
        font-size: 28px;
    }
    .img_lupa{
        width: 20px;
        margin-right: 10px;
    }
    .card_box_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* RESPONSIVE MÓVIL */
@media screen and (max-width: 480px){
    .container {
        margin-left: 34px;
        margin-right: 80px;
        width: 90%;
    }
    .container__buscador{
        width: 100%;
    }
    .buscador{
        font-size: 18px;
    }
    .title_home{
        font-size: 22px;
        padding-top: 52px;
        margin-bottom: 28px;
    }
    .img_lupa{
        width: 20px;
        margin-right: 10px;
    }
    .card_horizontal{
        width: 350px;
    }
}



