 <!-- HOME -->
 <div class="img_fondo_home">

    <div class="home__container">
        <div class="container" id="buscadorScroll">

            <h1 class="title_home">Aquí empieza tu nueva historia</h1>

            <div class="container__buscador">
                <div>
                    <input class="buscador" id="buscadorInput" type="search" #buscador (keyup.enter)="buscarPorLocalidad(buscador.value)" placeholder="¿Dónde quieres vivir?">
                </div>
                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/search.svg" alt="Icono lupa" width="25" class="img_lupa">
            </div>
        </div>
    </div>

</div>

<!-- Tarjetas -->

<div class="card_container">

    <div class="card_box_container">

        <app-buscar-room (click)="scrollToBuscador()"></app-buscar-room>

        <app-buscar-companero></app-buscar-companero>

        <!--
            <a href="#buscador">
                <div class="card" style="background-image: url('https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/form_search.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
                    <div class="card_label">¿Buscas habitación?</div>
                    <p>Buscar habitación <br> Encuentra tu habitación ideal</p>
                </div>
            </a>

            <div class="card" style="background-image: url('https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/card_roommate.jpg'); background-position: bottom; background-repeat: no-repeat; background-size: cover;">
                <div class="card_label">¿Buscas compañero?</div>
                <p>Buscar compañero <br> Encuentra tu compañero ideal</p>
            </div>

        -->
    </div>


        <app-publicar-room class="card_horizontal"></app-publicar-room>
    <!--
    <div class="card_horizontal" style="background-image: url('https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/free_room.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="card_label_2">¿Tienes una habitación libre?</div>
        <p>Dale vida a esa habitación libre</p>
    </div>
    -->

</div>


