<main class="main_principal">
    <h1 class="title_view">Editar perfil</h1>

    <div class="pack_btns">
        <a href="mi-perfil"><img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/back.svg" alt="Atrás" width="30"></a>
        <a href="eliminar-micuenta" class="btn_delete_myaccount"><button>Eliminar cuenta</button></a>
    </div>

    <div class="container_form_edit_profile">
        <br><br>
        <h2>Datos personales</h2>
        <p>Añade tus datos para que tus compañeros de piso puedan encontrarte y contactar contigo.</p>
        <br><br>

        <div class="container_container_form_edit_profile">
            <div class="form_edit_profile">
                <label for="name">Nombre de usuario*</label>
                <input type="text" id="name" class="input_form_edit_profile" placeholder="nombre*">
                <label for="email">Correo electrónico*</label>
                <input type="text" id="email" class="input_form_edit_profile" placeholder="correo electrónico*">
                <label for="phone">Teléfono*</label>
                <input type="text" id="phone" class="input_form_edit_profile" placeholder="teléfono*">
                <label for="description">Descripción*</label>
                <textarea id="description" cols="10" rows="10" placeholder="¿Cómo te describirías?"></textarea>
                <label for="about_me">Sobre mí</label>
                <div id="about_me">
                    <p>Selecciona las etiquetas que te identifiquen si quieres que tus posibles compañeros te conozcan un poco mejor</p>
                </div>
            </div>
           
            <div class="profile_picture">
                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/user.svg" alt="" width="30">
                <p>Añadir foto de perfil</p>
            </div>  
        </div>

        <br><br>
        <h2>Preferencias</h2>
        <p>Selecciona tus preferencias para conocerte mejor y ayudarte a encontrar tu habitación ideal.</p>
        <br><br>

        <div class="container_preferences_1">

            <div class="container_preferences">
                
            </div>
            
        </div>
        



    </div>
</main>