<a href="publicar-habitacion">
    <div class="container_publicar_room">
        <div class="publicar_room">
            <div class="texto_arriba">
                <div class="texto1">
                    <p>¿Tienes una habitación libre?</p>
                </div>
            </div>
            <div class="texto_abajo">
                <div class="texto2">
                    <span>Publicar habitación</span><br>
                    <span>Dale vida a esa habitación libre</span>
                </div>
            </div>
        </div>
    </div>
</a>