<a href="form-companero">
    <div class="container_buscar">
        <div class="buscar">
            <div class="texto_arriba">
                <div class="texto1">
                    <p>¿Buscas compañero?</p>
                </div>
            </div>
            <div class="texto_abajo">
                <div class="texto2">
                    <span>Buscar compañero</span><br>
                    <span>Encuentra tu compañero ideal</span>
                </div>
            </div>
        </div>
    </div>
</a>
