.container_buscar_companero{
    height: 400px;
    width: 406px;
}
.buscar_companero{
    background-image: url(https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/card_roommate.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buscar_companero:hover{
    filter: opacity(100%);
    filter: contrast(40%);
    transition:all .5s ease-in-out;
    z-index: 0;
}
.texto_arriba{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.texto1{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    text-align: center;
}
.texto1 > p {
    font-size: 32px;
    color: var(--dark_blue);
}
.texto_arriba:hover{
    display: none;
}
.texto_abajo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.texto2{
    text-align: center;
}
.texto2 > span:first-of-type{
    font-size: 40px;
    font-weight: 800;
    color: white;
}
.texto2 > span:last-of-type{
    font-size: 18px;
    color: white;
}
a{
    text-decoration: none;
}