.container_categorias_filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categoria_filtros{
    display: flex;
    align-items: center;
    border: .5px solid var(--black_rooms);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.categoria_filtros > img {
    margin-right: 20px;
}


/* TARJETAS */
.container_cards_filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.container_card_filtros{
    position: sticky;
    width: 350px;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    z-index: 1000;
}
.card_filtros{
    display: flex;
    flex-direction: column ;
    padding: 0px 0px 0px 20px;
}
.close_card{
    display: flex;
    justify-content: flex-end;
}
.close_card > img{
    margin-right: 20px;
}
.text_filtros_card{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.num_companeros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.num_companeros > p {
    font-size: 20px;
}
.iconos_filtros_card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items:flex-start ;
    flex-wrap: wrap;
}
.icon_text_filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    cursor: pointer;
}
.icon_text_filter > label{
    text-align: center;
}
.container_price{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.price_range{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10px;
}
.price_range > label{
    margin-left: 20px;
}
.price_range > input{
    border-radius: 20px;
    border: .5px solid var(--black_rooms);
    padding: 10px;
    width: 90%;
}
.showCard{
    display: none;
}
