<div class="container_categorias_filtros">
    
    <div class="categoria_filtros" (click)="mostrarCardFiltros(1)">
        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/flatmates.svg" alt="Icono compañeros de piso" width="20">
        <p>Compañeros de piso</p>
    </div>
    <div class="categoria_filtros" (click)="mostrarCardFiltros(2)">
        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/type_bed.svg" alt="Icono tipo de habitación" width="20">
        <p>Tipo de habitación</p>    
    </div>
    <div class="categoria_filtros" (click)="mostrarCardFiltros(3)">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/living.svg" alt="Icono conviviencia" width="20">
            <p>Conviviencia</p> 
    </div>
    <div class="categoria_filtros" (click)="mostrarCardFiltros(4)">
        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/budget.svg" alt="Icono presupuesto" width="20">
        <p>Presupuesto mensual</p>     
    </div>
        
</div>

<app-filtros-card [hidden]="mostrarCard" [control]="control"></app-filtros-card>
