<app-form-btn *ngIf="pasar"
  [titulo]="titulo"
  [descripcion]="descripcion"
  (clickedBtn)="pasar = $event"
></app-form-btn>

<div *ngIf="!pasar" class="main_principal">
  <div class="formulario-container">
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
    asdf.aslkdfjñasdkjfañsdlfkj
  </div>
</div>
<div id="img"></div>
