#img {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/card_roommate.jpg");
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: center center;
  background-size: cover;
  width: 716px;
  max-width: 100%;
  aspect-ratio: 5/7;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
}
.formulario-container {
  width: 463px;
  max-width: 100%;
  background-color: var(--light_blue);
  padding: 90px 5%;
}
