<main class="main_principal_login">
    <h1 class="title_view">Iniciar sesión</h1>

    <div class="container__login_view">
        
        <div class="mitad1">  
            <div class="container__login">
                <!-- izquierda -->
                <div class="container__form">
                        
                        <h2 class="title_rooms">Rooms</h2>
                        
                        <p class="subtitile_rooms"><b> Hola de nuevo</b>, <br> tu nueva habitación te está esperando</p>
                        
                        <label class="label_form" for="email">Correo electrónico*</label>
                        <input class="input_login em" placeholder="correo electrónico*" required type="email" id="email">

                        <label class="label_form" for="password">Contraseña*</label>
                        <div class="container_password">
                            <input class="input_login" type="password" placeholder="contraseña*" required id="password">
                            <span class="password_eye" ><img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/5217cf84048e4b3b6d7ecbef278af70cf9390dac/images/icons/eye.svg" alt="Ver contraseña"></span>
                        </div>

                        <a href="#" class="password_forget">¿Has olvidado tu contraseña?</a>
                        
                        <div class="container_btn">
                            <a href="rooms" class="btn__get_in">Entrar</a>
                        </div>
                        
                        <div class="not_account">
                            <p>¿No tienes cuenta?</p>
                            <a href="registrarse">Regístrate</a>
                        </div>
                        
                        <div class="politics">
                            <p>Al iniciar sesión estás aceptando los términos, condiciones y nuestra política de privacidad </p>
                        </div>
                        
                </div>               
            </div>
        </div>
            
            <!-- derecha -->
            <div class="container_img">
                <a href="rooms" class="icon_close">
                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/close.svg" alt="Cerrar" width="15" class="icon_close">
                </a>
                <!-- <img class="form_img" src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/form_1.jpg" alt="Chica en ordenador">   -->
            </div>

    </div>
</main>
