        <div class="perfil-card">
            
            <div class="container_perfil-card">
                <div class="container__">
                    <div class="close_perfil-card">
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/icons/close.png" alt="Close" width="10" >
                    </div>
                    <div>
                        <div class="nombre_perfil-card">   
                            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/e15a83804bf36e0562951cb1bc22ab8a5f284561/icons/user.svg" alt="Imagen de perfil" width="30">  
                            <a href="mi-perfil" class="nombreUsuario_card">Nombre usuario</a>         
                        </div>
                        <div class="edit_switch">
                            <a href="editar-perfil">Editar perfil</a>
                            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/switch_off.svg" alt="Switch" width="20">
                        </div>
                    </div>
                    
                    <div class="enlaces_perfil-card">
                        <div>
                            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/my_publications.svg" alt="Mis publicaciones" width="20">
                            <a href="mis-publicaciones">Mis publicaciones</a>
                        </div>
                        <div>
                            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/heart.svg" alt="Mis favoritos" width="20">
                            <a href="mis-favoritos">Mis favoritos</a>
                        </div>
                    </div>

                    <div class="btn_cerrar_sesion">
                        <a href="rooms">
                            <button class="btn_cs">Cerrar sesión</button>
                        </a>
                    </div>
                </div>
                
            </div>
            
        </div>

 