.contenedor_card{
    width: 100vw;
    height: 100vh;
    z-index: 1001;
}
.contenedor_card2{
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
.perfil-card{
    display: flex;
    justify-content: flex-end;
    position: fixed;
}
.container_perfil-card{
    background-color: white;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 274px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}
.nombreUsuario_card{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.container__{
    padding: 20px 30px;
}
.close_perfil-card{
    display: flex;
   justify-content: flex-end;
}
.nombre_perfil-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nombre_perfil-card > p{
    font-weight: bold;
}
.edit_switch{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.edit_switch > img {
    cursor: pointer;
}
.enlaces_perfil-card{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}
.enlaces_perfil-card > div{
    display: flex;
}
.enlaces_perfil-card > div:first-child{
    margin-bottom: 10px;
}
.enlaces_perfil-card > div > img {
    margin-right: 10px;
}
