<a href="#buscador">
    <div class="container_buscar_room">
        <div class="buscar_room">
            <div class="texto_arriba">
                <div class="texto1">
                    <p>¿Buscas habitación?</p>
                </div>
            </div>
            <div class="texto_abajo">
                <div class="texto2">
                    <span>Buscar habitación</span><br>
                    <span>Encuentra tu habitación ideal</span>
                </div>
            </div>
        </div>
    </div>
</a>