<main class="main_principal">
    <h1 class="title_view">Rooms te ayuda</h1>
  <div class="main">
    <section class="sectionInfo">
      <h2 class="tituloInfo tituloInfoAyuda">
        Tu habitación publicada en 3 sencillos pasos
      </h2>
      <ul class="listaInfo">
        <li class="equipoCard">
          <div class="icono1"></div>
          <p class="descripcionEquipo">
            Rellena tus <strong>datos de contacto</strong>
            y <strong>añade fotografías</strong>
            tuyas para que puedan conocerte mejor
          </p>
        </li>
        <li class="equipoCard">
          <div class="icono2"></div>
          <p class="descripcionEquipo">
            Introduce la información necesaria y selecciona
            las <strong>características de la habitación</strong>
          </p>
        </li>
        <li class="equipoCard">
          <div class="icono3"></div>
          <p class="descripcionEquipo">
            Añade <strong>fotografías de la habitación</strong>
            o de la casa
          </p>
        </li>
      </ul>
      <a class="darkButton"
         href="#">Publicar habitación</a>
    </section>
    <section class="sectionInfo">
      <h2 class="tituloInfo tituloInfoAyuda2">
        Crea una buena publicación y
        haz que tu habitación destaque
      </h2>
      <ul class="listaInfo">
        <li class="equipoCard">
          <div class="iconoHome"></div>
          <h4 class="titleAyuda">Publica sin límites</h4>
          <p class="descripcionAyuda">
            Podrás añadir tantas publicaciones como
            habitaciones tengas disponibles
          </p>
        </li>
        <li class="equipoCard">
          <div class="iconoCamera"></div>
          <h4 class="titleAyuda">Añade fotografías de calidad</h4>
          <p class="descripcionAyuda">
            Presume de hogar y enseña sus puntos fuertes,
            cuantas más fotos, más posibilidades de que te contacten
          </p>
        </li>
        <li class="equipoCard">
          <div class="iconoRefresh"></div>
          <h4 class="titleAyuda">Todo bajo control</h4>
          <p class="descripcionAyuda">
            Podrás editar tu perfil y tus publicaciones
            siempre que lo necesites
          </p>
        </li>
      </ul>
    </section>
  </div>
</main>

