.container_filtros{
    display: flex;
    margin-bottom: 50px;
    align-items: center ;
    margin-left: 50px;
}
.container__buscador{
    display: flex;
    border: .5px solid var(--black_rooms);
    border-radius: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}
.buscador_filtros{
    border: none;
}
.container__buscador > img{
    cursor: pointer;
}
.filtros_icon{
    display: flex;
    margin-left: 20px;
    align-items: center;
    cursor: pointer;
}
.filtros_icon > img{
    margin-right: 5px;
}

@media screen and (max-width: 480px){

    .container_filtros{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
    }
    .container__buscador{
        margin-bottom: 20px;
    }
}
