<app-form-btn *ngIf="!pasar"
              [titulo]="titulo"
              [descripcion]="descripcion"
              (clickedBtn)="pasar = $event"
></app-form-btn>

<div *ngIf="pasar" class="main_principal">
  <div class="formulario-container">
    <form (submit)="$event.preventDefault()" (ngSubmit)="buscar()">
      <h1 class="tituloRooms">Rooms</h1>
      <p class="textRooms">
        Estás a unos minutos de encontrar la habitación
        que estabas buscando
      </p>
      <p class="textRooms textObligatorio">
        Los campos con <span>*</span> son obligatorios
      </p>
      <label>
        <input
          type="text"
          placeholder="¿Dónde vives?*"
          required
          [(ngModel)]="room.locality">
      </label>
      <label>
        <p class="title">¿Cuántos compañeros buscas?</p>
        <p class="textRooms">
          Indica con cuántos compañeros de piso te gustaría vivir.
        </p>
        <div class="countCompañeros">
          <div class="iconoMenos"
               (click)="addRoomMate(-1)"></div>
          <p>{{ room.num_roommate }}</p>
          <div class="iconoAdd"
               (click)="addRoomMate(+1)"></div>
        </div>
      </label>
      <div>
        <p class="title">Preferiría vivir con...</p>
        <p class="textRooms">
          Selecciona si prefieres que tus compañeros de piso
          sean chicos, chicas o no te importa su género.
        </p>
        <div class="flex-row-wrap countCompañeros">
          <label (click)="room.roommate_gender = 2">
            <input class="options"
                   type="checkbox"
                   name="Mixto"
                   id="sm10">
            <div class="iconoMixto"
                 [ngClass]="{selectedMixto: room.roommate_gender === 2}"
            ></div>
            Mixto
          </label>
          <label (click)="room.roommate_gender = 1">
            <input class="options"
                   type="checkbox"
                   name="Chica"
                   id="sm11">
            <div class="iconoChica"
                 [ngClass]="{selectedChica: room.roommate_gender === 1}"
            ></div>
            Chicas
          </label>
          <label (click)="room.roommate_gender = 0">
            <input class="options"
                   type="checkbox"
                   name="Chico"
                   id="sm12">
            <div class="iconoChico"
                 [ngClass]="{selectedChico: room.roommate_gender === 0}"
            ></div>
            Chicos
          </label>
        </div>
        <div>
          <p class="title">Mi habitación ideal sería...</p>
          <p class="textRooms">
            Selecciona el tipo de habitación que se ajusta más
            a lo que estás buscando.
          </p>
          <div class="flex-row-wrap countCompañeros room">
            <label (click)="room.bed_type = 1">
              <input class="options"
                     type="checkbox"
                     name="Individual"
                     id="sm20">
              <div class="iconoBed"
                   [ngClass]="{selectedBed: room.bed_type === 1}"
              ></div>
              Individual
            </label>
            <label (click)="room.bed_type = 2">
              <input class="options"
                     type="checkbox"
                     name="Doble"
                     id="sm21">
              <div class="iconoCamaDoble"
                   [ngClass]="{selectedCamaDoble: room.bed_type === 2}"
              ></div>
              Doble
            </label>
            <label (click)="room.bed_type = 0">
              <input class="options"
                     type="checkbox"
                     name="Litera"
                     id="sm22">
              <div class="iconoLitera"
                   [ngClass]="{selectedLitera: room.bed_type === 0}"
              ></div>
              Litera
            </label>

            <label>
              <input class="options"
                     type="checkbox"
                     name="Individual"
                     id="sm23"
                     [(ngModel)]="room.is_furnished">
              <div class="iconoMuebles"
                   [ngClass]="{selectedMuebles: room.is_furnished}"
              ></div>
              Amueblada
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="PrivateBath"
                     id="sm24"
                     [(ngModel)]="room.has_private_bath">
              <div class="iconoBath"
                   [ngClass]="{selectedBath: room.has_private_bath}"
              ></div>
              Baño privado
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="externalView"
                     id="sm25"
                     [(ngModel)]="room.has_private_view">
              <div class="iconoVentana"
                   [ngClass]="{selectedVentana: room.has_private_view}"
              ></div>
              Vista exterior
            </label>
          </div>
        </div>
        <div>
          <p class="title">No podría vivir sin...</p>
          <p class="textRooms">
            Selecciona las características que te parecen imprescindibles
            en tu nuevo hogar.
          </p>
          <div class="flex-row-wrap countCompañeros piso">
            <label>
              <input class="options"
                     type="checkbox"
                     name="Wifi"
                     id="sm30"
                     [(ngModel)]="room.has_internet">
              <div class="iconoWifi"
                   [ngClass]="{selectedWifi: room.has_internet}"
              ></div>
              WiFi
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Ascensor"
                     id="sm31"
                     [(ngModel)]="room.has_elevator">
              <div class="iconoAscensor"
                   [ngClass]="{selectedAscensor: room.has_elevator}"
              ></div>
              Ascensor
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Lavadora"
                     id="sm32"
                     [(ngModel)]="room.has_whashing_machine">
              <div class="iconoLavadora"
                   [ngClass]="{selectedLavadora: room.has_whashing_machine}"
              ></div>
              Lavadora
            </label>

            <label>
              <input class="options"
                     type="checkbox"
                     name="Secadora"
                     id="sm33"
                     [(ngModel)]="room.has_drying_machine">
              <div class="iconoSecadora"
                   [ngClass]="{selectedSecadora: room.has_drying_machine}"
              ></div>
              Secadora
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Lavavajillas"
                     id="sm34"
                     [(ngModel)]="room.has_dishwasher">
              <div class="iconoLavavajillas"
                   [ngClass]="{selectedLavavajillas: room.has_dishwasher}"
              ></div>
              Lavavajillas
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Jardin"
                     id="sm35"
                     [(ngModel)]="room.has_garden">
              <div class="iconoJardin"
                   [ngClass]="{selectedJardin: room.has_garden}"
              ></div>
              Jardín
            </label>

            <label>
              <input class="options"
                     type="checkbox"
                     name="Balcon"
                     id="sm36"
                     [(ngModel)]="room.has_balcony">
              <div class="iconoBalcon"
                   [ngClass]="{selectedBalcon: room.has_balcony}"
              ></div>
              Balcón
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Calefaccion"
                     id="sm37"
                     [(ngModel)]="room.has_heating">
              <div class="iconoCalefaccion"
                   [ngClass]="{selectedCalefaccion: room.has_heating}"
              ></div>
              Calefacción
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Portero"
                     id="sm38"
                     [(ngModel)]="room.has_doorman">
              <div class="iconoDoorman"
                   [ngClass]="{selectedDoorman: room.has_doorman}"
              ></div>
              Portero
            </label>

            <label>
              <input class="options"
                     type="checkbox"
                     name="Accesible"
                     id="sm39"
                     [(ngModel)]="room.is_accessibility">
              <div class="iconoAccesible"
                   [ngClass]="{selectedAccesible: room.is_accessibility}"
              ></div>
              Accesible
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Parking"
                     id="sm40"
                     [(ngModel)]="room.has_parking">
              <div class="iconoParking"
                   [ngClass]="{selectedParking: room.has_parking}"
              ></div>
              Parking
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="AireAcondicionado"
                     id="sm41"
                     [(ngModel)]="room.has_air_conditioning">
              <div class="iconoAireAcondicionado"
                   [ngClass]="{selectedAireAcondicionado: room.has_air_conditioning}"
              ></div>
              Aire acondicionado
            </label>
          </div>
        </div>
        <div>
          <p class="title">Me interesa que se permita...</p>
          <p class="textRooms">
            Selecciona las normas de convivencia que desees
            tener en tu nuevo hogar.
          </p>
          <div class="flex-row-wrap countCompañeros">
            <label>
              <input class="options"
                     type="checkbox"
                     name="roomFumar"
                     id="sm60"
                     [(ngModel)]="room.room_smoke">
              <div class="iconoFumador"
                   [ngClass]="{selectedFumador: room.room_smoke}"
              ></div>
              Fumar
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="roomMascotas"
                     id="sm61"
                     [(ngModel)]="room.room_pet">
              <div class="iconoMascotas"
                   [ngClass]="{selectedMascotas: room.room_pet}"
              ></div>
              Mascotas
            </label>
            <label>
              <input class="options"
                     type="checkbox"
                     name="Parejas"
                     id="sm62"
                     [(ngModel)]="room.room_couples">
              <div class="iconoCouples"
                   [ngClass]="{selectedCouples: room.room_couples}"
              ></div>
              Parejas
            </label>
          </div>
        </div>
      </div>
      <div id="btnBox">
        <button class="guardarBtn" type="submit">
          Aplicar mis filtros
        </button>
      </div>
    </form>
  </div>
</div>
<div id="img" *ngIf="pasar"></div>
