<div class="container_eliminar_cuenta" [hidden]="mostrarCardEliminar">

  <div class="container__ec">
    <div class="cerrar">
      <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/icons/close.png" alt="Cerrar" width="10" (click)="cerrarPopUp()">
    </div>

    <div class="texto_eliminar">
      <h2>¿Estas seguro de que quieres eliminar tu publicación?</h2>

      <div class="a" (click)="eliminarRoom()">
        eliminar mi publicacion
      </div>

    </div>
  </div>

</div>
