.container_resultados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 99;
    margin-top: 50px ;
    gap: 30px;
}

@media screen and (max-width: 900px){

    .container_resultados{
        justify-content: center;
    }
    
}