<div class="container_resultados" >

    <ng-container *ngFor="let room of rooms | fumador:getFumar() | generoCompanero:getgenCompaneros()
    | tipoCama:getTipoCama() | amueblada: getAmueblada() | banoPrivado:getBanoPrivado() | vistaPrivada:getVistaPrivada()
    | internet:getInternet() | ascensor:getAscensor() | lavadora:getLavadora() | secadora:getSecadora()
    | fregaplatos:getLavavajillas() | jardin:getJardin() | balcon:getBalcon() | calefaccion:getCalefaccion()
    | portero:getPortero() | accesible:getAccesible() | parking:getParking() | aireAcondicionado:getAireAcondicionado()
    | mascotas:getMascota() | parejas:getParejas() | precio:getpriceMax():getpriceMin()">
        <app-room-card [room]="room" class="card_resultados_rooms" ></app-room-card>
    </ng-container>

</div>

