/*Jonathan Cáceres, 20/05/2022 18:33:38*/
.guardarBtn {
  border: none;
  padding: 36px 175px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--black_rooms);
  font-size: 1.5em;
}
.btnPrimary {
  color: var(--dark_blue);
  font-weight: bold;
  font-size: 1.25em;
  padding: .85em 36px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: solid 1px var(--black_rooms);
  text-decoration: none;
}
.btnPrimary:active {
  background-color: var(--dark_blue);
  box-shadow: var(--shadow-g);
}
.darkButton {
  color: white;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--black_rooms);
  padding: .8em 1.5em;
  border-radius: 50px;
  width: fit-content;
  max-width: 90%;
}
