/*Jonathan Cáceres, 20/05/2022 18:36:07*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

:root{
  /*--- COLORES ---*/
  --light_blue: #9FCACE;
  --dark_blue: #607A7B;
  --text_principal: #222;
  --black_rooms: #484848;
  --light_dark: #707070;
  --btn_dark: #393939;
  /*--- FUENTES ---*/
  --ralewayFont: 'Raleway', sans-serif;
  --padding-g-lateral: 10%;
  /*--- SHADOW ---*/
  --shadow-g: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
