.iconoTrabajo,
.iconoVegano,
.iconoEstudioTrabajo,
.iconoEstudio,
.iconoFumador,
.iconoNoFumador,
.iconoMascotas,
.iconoInstagram,
.iconoFacebook,
.iconoTwitter,
.iconoSearch {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.selectedTrabajo,
.selectedVegano,
.selectedEstudioTrabajo,
.selectedEstudio,
.selectedFumador,
.selectedNoFumador,
.selectedMascotas,
.selectedInstagram,
.selectedFacebook,
.selectedTwitter,
.selectedSearch {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.iconoApple {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/e15a83804bf36e0562951cb1bc22ab8a5f284561/icons/apple.svg");
  background-size: cover;
  width: 32px;
  height: 40px;
}
.iconoGoogle_play {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/google_play.svg");
  background-size: cover;
  height: 36px;
  width: 32px;
}

.iconoTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/work.svg");
}
.selectedTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/work.svg"),
  var(--dark_blue);
}

.iconoVegano {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/vegan.svg");
}
.selectedVegano {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/vegan.svg"),
  var(--dark_blue);
}

.iconoEstudioTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study_and_work.svg");
}
.selectedEstudioTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study_and_work.svg"),
  var(--dark_blue);
}

.iconoEstudio {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study.svg");
}
.selectedEstudio {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study.svg"),
  var(--dark_blue);
}

.iconoFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/smoke.svg");
}
.selectedFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/smoke.svg"),
  var(--dark_blue);
}

.iconoMascotas {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/pets.svg");
}
.selectedMascotas {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/pets.svg"),
  var(--dark_blue);
}

.iconoNoFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/no_smoke.svg");
}
.selectedNoFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/no_smoke.svg"),
  var(--dark_blue);
}

.iconoInstagram {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/instagram.svg");
}
.selectedInstagram {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/instagram.svg"),
  var(--dark_blue);
}

.iconoFacebook {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/facebook.svg");
}
.selectedFacebook {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/facebook.svg"),
  var(--dark_blue);
}

.iconoTwitter {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/twitter.svg");
}
.selectedTwitter {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/twitter.svg"),
  var(--dark_blue);
}

.iconoSearch {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/search.svg");
}
.selectedSearch {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/search.svg"),
  var(--dark_blue);
}

