.iconoTrabajo,
.iconoVegano,
.iconoEstudioTrabajo,
.iconoEstudio,
.iconoFumador,
.iconoNoFumador,
.iconoMascotas,
.iconoInstagram,
.iconoFacebook,
.iconoTwitter,
.iconoSearch,
.iconoAtras,
.icono1,
.icono2,
.icono3,
.iconoUser,
.iconoAdd,
.iconoMenos,
.iconoChica,
.iconoChico,
.iconoMixto,
.iconoAccesible,
.iconoAireAcondicionado,
.iconoBalcon,
.iconoBath,
.iconoBed,
.iconoBudget,
.iconoLitera,
.iconoCamera,
.iconoCheck,
.iconoClose,
.iconoCouples,
.iconoLavavajillas,
.iconoDoorman,
.iconoCamaDoble,
.iconoSecadora,
.iconoAscensor,
.iconoEmail,
.iconoOjo,
.iconoFiltro,
.iconoCompaneros,
.iconoMuebles,
.iconoJardin,
.iconoCorazon,
.iconoFavBlanco,
.iconoFavBlancoSolid,
.iconoCalefaccion,
.iconoHome,
.iconoLiving,
.iconoMisPublicaciones,
.iconoParking,
.iconoTelefono,
.iconoRefresh,
.iconoApagar,
.iconoEncender,
.iconoTypeBed,
.iconoVerify,
.iconoLavadora,
.iconoWifi,
.iconoVentana {
  min-width: 48px;
  max-width: 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.selectedTrabajo,
.selectedVegano,
.selectedEstudioTrabajo,
.selectedEstudio,
.selectedFumador,
.selectedNoFumador,
.selectedMascotas,
.selectedInstagram,
.selectedFacebook,
.selectedTwitter,
.selectedSearch,
.selectedAtras,
.selected1,
.selected2,
.selected3,
.selectedUser,
.selectedAdd,
.selectedMenos,
.selectedChico,
.selectedChica,
.selectedMixto,
.selectedAccesible,
.selectedAireAcondicionado,
.selectedBalcon,
.selectedBath,
.selectedBed,
.selectedBudget,
.selectedLitera,
.selectedCamera,
.selectedCheck,
.selectedClose,
.selectedCouples,
.selectedLavavajillas,
.selectedDoorman,
.selectedCamaDoble,
.selectedSecadora,
.selectedAscensor,
.selectedEmail,
.selectedOjo,
.selectedFiltro,
.selectedCompaneros,
.selectedMuebles,
.selectedJardin,
.selectedCorazon,
.selectedFavBlanco,
.selectedFavBlancoSolid,
.selectedCalefaccion,
.selectedHome,
.selectedLiving,
.selectedMisPublicaciones,
.selectedParking,
.selectedTelefono,
.selectedRefresh,
.selectedApagar,
.selectedEncender,
.selectedTypeBed,
.selectedVerify,
.selectedLavadora,
.selectedWifi,
.selectedVentana {
  min-width: 48px;
  max-width: 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*----- FLECHAS -----*/
.iconoLeft {
  width: 25px;
  height: 46px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/left.svg");
}
.selectedLeft {
  width: 25px;
  height: 46px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/left.svg"),
  var(--dark_blue);
}

.iconoRight {
  width: 25px;
  height: 46px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/right.svg");
}
.selectedRight {
  width: 25px;
  height: 46px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/right.svg"),
  var(--dark_blue);
}

.iconoCompartir {
  width: 32px;
  height: 36px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/share.svg");
}
.selectedCompartir {
  width: 32px;
  height: 36px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/share.svg"),
  var(--dark_blue);
}

.iconoFav {
  width: 40px;
  height: 36px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs.svg");
  background-size: contain;
}
.selectedFav {
  width: 40px;
  height: 36px;
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs.svg"),
  var(--dark_blue);
}



/*----- ICONOS NORMALES -----*/
.iconoMisPublicaciones {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/my_publications.svg");
}
.selectedMisPublicaciones {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/my_publications.svg"),
  var(--light_blue);
}

.iconoParking {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/parking.svg");
}
.selectedParking {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/parking.svg"),
  var(--light_blue);
}

.iconoTelefono {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/phone.svg");
}
.selectedTelefono {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/phone.svg"),
  var(--light_blue);
}

.iconoRefresh {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/refresh.svg");
}
.selectedRefresh {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/refresh.svg"),
  var(--dark_blue);
}

.iconoApagar {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/switch_off.svg");
}
.selectedApagar {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/switch_off.svg"),
  var(--dark_blue);
}

.iconoEncender {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/switch_on.svg");
}
.selectedEncender {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/switch_on.svg"),
  var(--dark_blue);
}

.iconoTypeBed {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/type_bed.svg");
}
.selectedTypeBed {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/type_bed.svg"),
  var(--light_blue);
}

.iconoVerify {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/verify.svg");
}
.selectedVerify {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/verify.svg"),
  var(--dark_blue);
}

.iconoLavadora {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/washer.svg");
}
.selectedLavadora {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/washer.svg"),
  var(--light_blue);
}

.iconoWifi {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/wifi.svg");
}
.selectedWifi {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/wifi.svg"),
  var(--light_blue);
}

.iconoVentana {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/window.svg");
}
.selectedVentana {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/window.svg"),
  var(--light_blue);
}

.iconoLiving {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/living.svg");
}
.selectedLiving {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/living.svg"),
  var(--dark_blue);
}

.iconoHome {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/home.svg");
}
.selectedHome {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/home.svg"),
  var(--dark_blue);
}

.iconoCalefaccion {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heating.svg");
}
.selectedCalefaccion {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heating.svg"),
  var(--light_blue);
}

.iconoFavBlancoSolid {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs_white_solid.svg");
}
.selectedFavBlancoSolid {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs_white_solid.svg"),
  var(--dark_blue);
}

.iconoFavBlanco {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs_white.svg");
}
.selectedFavBlanco {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart_favs_white.svg"),
  var(--dark_blue);
}

.iconoCorazon {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart.svg");
}
.selectedCorazon {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/heart.svg"),
  var(--dark_blue);
}

.iconoJardin {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/garden.svg");
}
.selectedJardin {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/garden.svg"),
  var(--light_blue);
}

.iconoMuebles {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/furniture.svg");
}
.selectedMuebles {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/furniture.svg"),
  var(--light_blue);
}

.iconoCompaneros {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/flatmates.svg");
}
.selectedCompaneros {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/flatmates.svg"),
  var(--light_blue);
}

.iconoFiltro {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/filters.svg");
}
.selectedFiltro {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/filters.svg"),
  var(--dark_blue);
}

.iconoOjo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/eye.svg");
}
.selectedOjo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/eye.svg"),
  var(--dark_blue);
}

.iconoEmail {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/email.svg");
}
.selectedEmail {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/email.svg"),
  var(--dark_blue);
}

.iconoAscensor {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/elevator.svg");
}
.selectedAscensor {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/elevator.svg"),
  var(--light_blue);
}

.iconoSecadora {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/dryer.svg");
}
.selectedSecadora {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/dryer.svg"),
  var(--light_blue);
}

.iconoCamaDoble {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/double_bed.svg");
}
.selectedCamaDoble {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/double_bed.svg"),
  var(--light_blue);
}

.iconoDoorman {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/doorman.svg");
}
.selectedDoorman {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/doorman.svg"),
  var(--light_blue);
}

.iconoLavavajillas {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/dishwasher.svg");
}
.selectedLavavajillas {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/dishwasher.svg"),
  var(--light_blue);
}

.iconoCouples {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/couples.svg");
}
.selectedCouples {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/couples.svg"),
  var(--light_blue);
}

.iconoClose {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/close.svg");
}
.selectedClose {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/close.svg"),
  var(--dark_blue);
}

.iconoCheck {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/check_preferences.svg");
}
.selectedCheck {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/check_preferences.svg"),
  var(--dark_blue);
}

.iconoCamera {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/camera.svg");
}
.selectedCamera {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/camera.svg"),
  var(--light_blue);
}

.iconoAdd {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/add.svg");
}
.selectedAdd {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/add.svg"),
  var(--dark_blue);
}

.iconoTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/work.svg");
}
.selectedTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/work.svg"),
  var(--light_blue);
}

.iconoVegano {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/vegan.svg");
}
.selectedVegano {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/vegan.svg"),
  var(--light_blue);
}

.iconoEstudioTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study_and_work.svg");
}
.selectedEstudioTrabajo {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study_and_work.svg"),
  var(--light_blue);
}

.iconoEstudio {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study.svg");
}
.selectedEstudio {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/study.svg"),
  var(--light_blue);
}

.iconoFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/smoke.svg");
}
.selectedFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/smoke.svg"),
  var(--light_blue);
}

.iconoMascotas {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/pets.svg");
}
.selectedMascotas {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/pets.svg"),
  var(--light_blue);
}

.iconoNoFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/no_smoke.svg");
}
.selectedNoFumador {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/ade0614c0ae054ce136e85baae935ba3e43fc2cc/icons/no_smoke.svg"),
  var(--light_blue);
}

.iconoInstagram {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/instagram.svg");
}
.selectedInstagram {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/instagram.svg"),
  var(--dark_blue);
}

.iconoFacebook {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/facebook.svg");
}
.selectedFacebook {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/facebook.svg"),
  var(--dark_blue);
}

.iconoTwitter {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/twitter.svg");
}
.selectedTwitter {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/twitter.svg"),
  var(--dark_blue);
}

.iconoSearch {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/search.svg");
}
.selectedSearch {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/search.svg"),
  var(--dark_blue);
}

.iconoAtras {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/back.svg");
}
.selectedAtras {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/back.svg"),
  var(--dark_blue);
}

.icono1 {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/step1.svg");
}
.selected1 {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/step1.svg"),
  var(--light_blue);
}

.icono2 {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/step2.svg");
}
.selected2 {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/step2.svg"),
  var(--light_blue);
}

.icono3 {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/step3.svg");
}
.selected3 {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/step3.svg"),
  var(--light_blue);
}

.iconoUser {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/user.svg");
}
.selectedUser {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/user.svg"),
  var(--dark_blue);
}

.iconoMenos {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/minus.svg");
}
.selectedMenos {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/minus.svg"),
  var(--dark_blue);
}

.iconoChica {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/female.svg");
}
.selectedChica {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/female.svg"),
  var(--light_blue);
}

.iconoChico {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/male.svg");
}
.selectedChico {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/male.svg"),
  var(--light_blue);
}

.iconoMixto {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/mixed.svg");
}
.selectedMixto {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/mixed.svg"),
  var(--light_blue);
}

.iconoAccesible {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/accessible.svg");
}
.selectedAccesible {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/accessible.svg"),
  var(--light_blue);
}

.iconoAireAcondicionado {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/air_conditioner.svg");
}
.selectedAireAcondicionado {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/air_conditioner.svg"),
  var(--light_blue);
}

.iconoBalcon {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/balcony.svg");
}
.selectedBalcon {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/balcony.svg"),
  var(--light_blue);
}

.iconoBath {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/bath.svg");
}
.selectedBath {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/bath.svg"),
  var(--light_blue);
}

.iconoBed {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/bed.svg");
}
.selectedBed {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/bed.svg"),
  var(--light_blue);
}

.iconoBudget {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/budget.svg");
}
.selectedBudget {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/8cb5320cefdee5373561ddb34681ffdfaf60826d/icons/budget.svg"),
  var(--dark_blue);
}

.iconoLitera {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/d1f4ae1391598570dc22bec8e6912971386f6cef/icons/bunk_bed.svg");
}
.selectedLitera {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/d1f4ae1391598570dc22bec8e6912971386f6cef/icons/bunk_bed.svg"),
  var(--light_blue);
}



.iconoApple {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/e15a83804bf36e0562951cb1bc22ab8a5f284561/icons/apple.svg");
  background-size: cover;
  width: 32px;
  height: 40px;
}
.iconoGoogle_play {
  background: url("https://raw.githubusercontent.com/Cintia-Andujar/rooms/514e9f01dc7630bd14b29b0f9f3e1cfafeae7965/icons/google_play.svg");
  background-size: cover;
  height: 36px;
  width: 32px;
}
