<main class="main_principal">
    <h1 class="title_view">Mis favoritos</h1>

    <div class="container_favs">
      <h2>Habitaciones que me han encantado</h2>
      <div class="container_rooms">
        <ng-container *ngIf="getFavoritosRoom()">
          <ng-container *ngFor="let room of getFavoritosRoom()">
            <app-room-card [room]="room"></app-room-card>
          </ng-container>
        </ng-container>
      </div>
      
      <h2>Futuros posibles compañeros</h2>
      <div class="container_users">
        <ng-container *ngIf="getFavoritosUser()">
          <ng-container *ngFor="let user of getFavoritosUser()">
            <app-user-card [user]="user"></app-user-card>
          </ng-container>
        </ng-container>
      </div>

    </div>
</main>
