<div class="container_eliminar_cuenta" [hidden]="mostrarCardEliminar">

    <div class="container__ec">
        <!--
            <div class="cerrar">
                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/icons/close.png" alt="Cerrar" width="10" (click)="cerrarPopUp()">
            </div>
        -->

        <div class="texto_eliminar">
            <h2>¿Estas seguro de que quieres eliminar esta publicación?</h2>

            <button (click)="eliminarRoom()">
                Eliminar publicación
            </button>

            <a href="mis-publicaciones">
                Cancelar
            </a>

        </div>
    </div>

</div>
