.pack_btns{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 24px;
    font-weight: 400;
}
.edit_myaccount{
    text-decoration: none;
}
.edit_myaccount {
    color: var(--dark_blue);
    text-decoration: underline;
}
.edit_myaccount:hover{
    font-weight: bold;
}
.container__mi_perfil{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container_datospersonales{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-end;
    margin-top: 20px;
}
.datos_personales{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.datos_personales > p{
    margin-top: 20px;
}
.profile_picture{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: .5px solid var(--black_rooms);
    width: 300px;
    height: 400px;
}
.profile_picture:hover > img{
    background-color: white;
    border-radius: 50%;
}
.profile_picture:hover > p{
    color: white;
}
.sobremi{
    margin-top: 20px;
    display: flex;
}
.sobremi > div{
    margin-right: 20px;
}
.icono_sobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* MIS PREFERENCIAS */
.container_preferences{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_preferences > h2{
    align-self: flex-start;
    margin-bottom: 50px;
}
.container_container_preferences{
    background-color: var(--light_blue);
    width: 80%;
    height: auto;
    border-radius: 10px;
    padding: 40px;
}
.checks > div{
    display: flex;
    margin-bottom: 20px;
}
.checks > div > img{
   margin-right: 10px;
}
.boxes_preferences{
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}
.box{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box > div > div {
    margin: 10px;
}
.box_preference {
  width: 32%;
}
h3{
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}
/* GALERIA DE FOTOS */
.container__gallery{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__gallery > h2{
    align-self: flex-start;
    margin-bottom: 50px;
}
.gallery{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 80%;
    height: 400px;
}
.gallery > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-color: var(--black_rooms);
}
.section1 {
   grid-row-start: 1;
   grid-row-end: 3;
}
.section2{
    grid-row-start: 1;
}
.section3{
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section3 >label{
    color: white;
    font-size: .75em;
}
.gallery > div:hover{
    cursor: pointer;
    background-color: var(--light_dark);
}
/* DATOS DE CONTACTO */
.container__data_contact{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__data_contact > h2{
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}
.data_contact{
    width: 40%;
    justify-content: space-between;
    margin-top: 50px;
}
.data_contact, .data {
    display: flex;
    align-items: center;
}
.data > div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
.img_perfil {
  width: 100%;
  height: 100%;
}
.fotos {
  width: 30%;
}
.gallery  img {
  width: 100%;
  height: 100%;
}
.container__data_contact {
  clear: both;
}

.galeria {
  width: 100%;
  margin-top: 50px;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.galeria_fotos {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.galeria_fotos img {
  width: 33%;
  height: fit-content;
  margin-bottom: 5px;
}


