<main class="main_principal">
    <h1 class="title_view">El perfil de {{getUser().name}}</h1>

    <div class="pack_btns">
        <a href="room/:id"><img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/back.svg" alt="Atrás" width="30"></a>
    </div>

    <div class="container__mi_perfil">

        <div class="container_datospersonales">
            <div class="profile_picture">
                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/user.svg" alt="" width="30">
            </div>  
            <div class="datos_personales">
                <h2>NombreUsuario, EdadUsuario <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/50d24df13c00ba2a1434057f97430bd360815234/icons/verify.svg" alt="perfil verificado" width="20"></h2>
                <p>
                    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
                </p>
                <!--
                    TENDRÁN QUE RECORRESE LOS ICONOS QUE HAYA SELECCIONADO EL USUARIO EN SU PERFIL
                -->
                <div class="sobremi">
                    <div class="icono_sobremi">
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/study_and_work.svg" alt="" width="50">
                        <label for="">Estudio y trabajo</label>
                    </div>
                    <div class="icono_sobremi">
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/vegan.svg" alt="" width="50">
                        <label for="">Vegano</label>
                    </div>
                    <div class="icono_sobremi">
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                        <label for="">No fumador</label>
                    </div>
                </div>
            </div>

        </div>

       <!--  MOSTRAR SÓLO SI LAS TIENE -->
        <div class="container_preferences">

            <h2>Preferencias</h2>

            <div class="container_container_preferences">

                <div class="checks">
                    <div>
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/check_preferences.svg" alt="check" width="20">
                        <p>Le gustaría vivir en <b>localidad</b></p>
                    </div>
                    <div>
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/check_preferences.svg" alt="check" width="20">
                        <p>En un piso compartido con <b>num compañeros</b> compañero (en el caso de 1) compañeros (>2)</p>
                    </div>
                    <div>
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/check_preferences.svg" alt="check" width="20">
                        <p>En el que vivan <b>chicas/chicos</b> / <b>Sin preferencias de género</b></p>
                    </div>

                </div>

                <div class="boxes_preferences">
                    <div class="box_preference">
                        <h3>Tu habitación ideal...</h3>
                        <!--
                            PREFERENCIAS DE LA HABITACIÓN IDEAL QUE HAYA ELEGIDO EL USUARIO
                        -->
                        <div class="box">
                            <div class="icono_sobremi">
                                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                <label for="">No fumador</label>
                            </div>
                        </div>
                    </div>
                    <div class="box_preference">
                        <h3>Tus imprescindibles...</h3>
                        <!--
                            PREFERENCIAS DE LOS IMPRESCINDIBLES QUE HAYA ELEGIDO EL USUARIO 
                            CADA 3 ICONOS DEBE CREARSE UN DIV QUE LOS SEPARE
                        -->
                        <div class="box">
                            <div>
                                <div class="icono_sobremi">
                                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                    <label for="">No fumador</label>
                                </div>
                                <div class="icono_sobremi">
                                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                    <label for="">No fumador</label>
                                </div>
                                <div class="icono_sobremi">
                                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                    <label for="">No fumador</label>
                                </div>
                            </div>
                            <div>
                                <div class="icono_sobremi">
                                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                    <label for="">No fumador</label>
                                </div>
                                <div class="icono_sobremi">
                                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                    <label for="">No fumador</label>
                                </div>
                                <div class="icono_sobremi">
                                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                    <label for="">No fumador</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_preference">
                        <h3>Conviviendo buscas...</h3>
                        <!--
                            PREFERENCIAS DE LA CONVIVENCIA QUE HAYA ELEGIDO EL USUARIO
                        -->
                        <div class="box">
                            <div class="icono_sobremi">
                                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/no_smoke.svg" alt="" width="50">
                                <label for="">No fumador</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container__gallery">

            <h2>Conóce un poco más a nombreUsuario</h2>

            <div class="galley">
                <img src="" alt="foto1">
                <img src="" alt="foto2">
            </div>

        </div>

        <div class="container__data_contact">

            <h2>¿Te gustaría compartir piso con nombreUsuario?</h2>

            <div class="data_contact">
                <div class="data">
                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/phone.svg" alt="Teléfono" width="50">
                    <div>
                       <p> <b>Teléfono</b> </p>
                       <p>num.TeléfonoUsuario</p>
                    </div>
                </div>
                <div class="data">
                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/email.svg" alt="Correo  electrónico" width="50">
                    <div>
                        <p> <b>Correo electrónico</b> </p>
                        <p>correoElectronicoUsuario</p>
                    </div>
                </div>

            </div>


        </div>

    </div>
</main>
