<app-loading-page *ngIf="!usuario"></app-loading-page>
<main *ngIf="usuario" class="main_principal">
    <h1 class="title_view">El perfil de {{ usuario.name }}</h1>

    <div class="pack_btns">
       <a href="" (click)="volver()" ><img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/back.svg" alt="Atrás" width="30"></a>
     <!--
        <div class="iconoAtras" (click)="volver()"></div> */
    -->
      <a *ngIf="checkUser()" href="editar-perfil" class="edit_myaccount">Editar perfil</a>
    </div>


    <div class="container__mi_perfil">

        <div class="container_datospersonales">
            <div class="profile_picture">
              <img *ngIf="foto_perfil"
                   src="http://167.99.46.205{{ foto_perfil }}"
                   alt=""
                    class="img_perfil">
              <img *ngIf="!foto_perfil" src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/user.svg" alt="" width="30">
            </div>
            <div class="datos_personales">
                <h2>{{ usuario.name }}, {{ usuario.age }} <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/50d24df13c00ba2a1434057f97430bd360815234/icons/verify.svg" alt="perfil verificado" width="20"></h2>
                <p>
                    {{ usuario.about_me }}
                </p>
                <!--
                    TENDRÁN QUE RECORRESE LOS ICONOS QUE HAYA SELECCIONADO EL USUARIO EN SU PERFIL
                -->
                <div class="sobremi">
                    <div *ngFor="let opt of userCaracteristicas"
                         class="icono_sobremi">
                      <div class="{{opt.clase}}"></div>
                      <label>{{opt.texto}}</label>
                    </div>
                </div>
            </div>

        </div>

      <div class="publicacionesContainer">
        <button class="verPublicaciones" (click)="verPublicaciones()">Ver publicaciones</button>
      </div>

       <!--  MOSTRAR SÓLO SI LAS TIENE -->
        <div class="container_preferences">

            <h2>Preferencias</h2>

            <div class="container_container_preferences">

                <div class="checks">
                    <div *ngIf="usuario.locality">
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/check_preferences.svg" alt="check" width="20">
                        <p>Le gustaría vivir en <b>{{ usuario.locality }}</b></p>
                    </div>
                    <div *ngIf="usuario.num_roommate">
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/check_preferences.svg" alt="check" width="20">
                        <p>En un piso compartido con <b>{{ usuario.num_roommate }}</b> compañero(s)</p>
                    </div>
                    <div>
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/check_preferences.svg" alt="check" width="20">
                        <p>En el que vivan <b>{{ mateGender }}</b></p>
                    </div>

                </div>

                <div class="boxes_preferences">
                    <div class="box_preference">
                        <h3>Tu habitación ideal...</h3>
                        <!--
                            PREFERENCIAS DE LA HABITACIÓN IDEAL QUE HAYA ELEGIDO EL USUARIO
                        -->
                        <div class="box">
                          <div *ngFor="let opt of opcionesRoom"
                               class="icono_sobremi">
                            <div class="{{opt.clase}}"></div>
                            <label>{{opt.texto}}</label>
                          </div>
                        </div>
                    </div>
                    <div class="box_preference">
                        <h3>Tus imprescindibles...</h3>
                        <!--
                            PREFERENCIAS DE LOS IMPRESCINDIBLES QUE HAYA ELEGIDO EL USUARIO
                            CADA 3 ICONOS DEBE CREARSE UN DIV QUE LOS SEPARE
                        -->
                        <div class="box">
                              <div *ngFor="let opt of opcionesPiso"
                                   class="icono_sobremi">
                                <div class="{{opt.clase}}"></div>
                                <label>{{opt.texto}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="box_preference">
                        <h3>Conviviendo buscas...</h3>
                        <!--
                            PREFERENCIAS DE LA CONVIVENCIA QUE HAYA ELEGIDO EL USUARIO
                        -->
                        <div class="box">
                          <div *ngFor="let opt of normasConvivencia"
                               class="icono_sobremi">
                            <div class="{{opt.clase}}"></div>
                            <label>{{opt.texto}}</label>
                          </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

      <div class="galeria">
        <h2>La galería de {{ usuario.name }}</h2>
        <div class="galeria_fotos">
          <img *ngFor="let image of fotos"
               src="http://167.99.46.205{{ image.file_path }}">
        </div>
      </div>

        <!--<div class="container__gallery">

            <h2>La galería de </h2>

            <div class="gallery">

                <div *ngIf="fotos[1]" class="section1">
                  <img src="http://167.99.46.205{{ fotos[1].file_path }}">
                </div>
                <div *ngIf="fotos[2]" class="section2">
                  <img src="http://167.99.46.205{{ fotos[2].file_path  }}">
                </div>
              <div *ngIf="fotos[3]" class="section2">
                <img src="http://167.99.46.205{{ fotos[3].file_path  }}">
              </div>
              <div *ngIf="fotos[4]" class="section3">
                <img src="http://167.99.46.205{{ fotos[4].file_path  }}">
              </div>
              <div *ngIf="fotos[5]" class="section3">
                <img src="http://167.99.46.205{{ fotos[5].file_path  }}">
              </div>
            </div>

        </div>-->

        <div class="container__data_contact">

            <h2>¿Te gustaría compartir piso con {{ usuario.name }}?</h2>

            <div class="data_contact">
                <div class="data">
                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/phone.svg" alt="Teléfono" width="50">
                    <div>
                       <p> <b>Teléfono</b> </p>
                       <a href="tel:">{{ usuario.phone }}</a>
                    </div>
                </div>
                <div class="data">
                    <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/email.svg" alt="Correo  electrónico" width="50">
                    <div>
                        <p> <b>Correo electrónico</b> </p>
                        <a href="mailto:">{{ usuario.email }}</a>
                    </div>
                </div>

            </div>


        </div>

    </div>
</main>
