<div class="container_card_filtros">
    <div class="card_filtros">
        <div class="close_card">
            <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/9894900870d59144fe8104b7a87a4eb62d37504a/icons/close.svg" alt="Icono cerrar" width="15">
        </div>
        <div class="text_filtros_card">
            <h2>Número de compañeros de piso</h2><br>
            <p>Indica con cuántos compañeros de piso te gustaría vivir</p>
            <div class="iconos_filtros_card">
                
            </div>
            <br><br>
            <h2>Preferencias de genéro</h2>
            <div class="iconos_filtros_card">
                
            </div>
        </div>

    </div>
</div>