/* You can add global styles to this file, and also import other style files */
@import "css/config.css";
@import "css/botones.css";
@import "css/cards.css";
@import "css/iconos.css";

* {
  margin: 0;
  padding: 0;
  font-family: var(--ralewayFont);
  font-size: 16px;
  color: var(--text_principal);
  box-sizing: border-box;
  outline: none;
}
html{
  scroll-behavior: smooth;
}
.home__container{
  padding: 100px 50px;
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
/*--- SECCCIONES ---*/
.section {
  margin-left: var(--padding-g-lateral);
  margin-right: var(--padding-g-lateral);
}
button {
  cursor: pointer;
}
.main_principal{
  padding: 40px 160px;
}
.title_view{
  font-size: 1.5em;
  margin-bottom: 50px;
}

/* RESPONSIVE TABLET */
.main_principal{
  padding: 20px 100px;
}
.title_view{
  font-size: 18px;

}

/* RESPONSIVE MÓVIL */
.main_principal{
  padding: 10px 50px;
}
.title_view{
  font-size: 16px;
}
