/* You can add global styles to this file, and also import other style files */
@import "css/config.css";
@import "css/botones.css";
@import "css/cards.css";
@import "css/iconos.css";

* {
  margin: 0;
  padding: 0;
  font-family: var(--ralewayFont);
  font-size: 16px;
  color: var(--text_principal);
  box-sizing: border-box;
  outline: none;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
.home__container{
  padding: 150px 50px;
  width: 100%;
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
/*--- SECCCIONES ---*/
.section {
  margin-left: var(--padding-g-lateral);
  margin-right: var(--padding-g-lateral);
}
button {
  cursor: pointer;
}
.main_principal{
  padding: 50px 11%;
  width: 100%;
}
.title_view{
  font-size: 1.5em;
  margin-bottom: 50px;
}
.tituloRooms {
  font-weight: normal;
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 20px;
}
.error {
  border: solid 2px red;
  color: red;
}

/* RESPONSIVE TABLET */
@media screen and (max-width: 820px){
  .main_principal{
    padding: 140px 100px;
    width: 100%;
  }
  .home__container{
    padding: 140px 50px;
    width: 100%;
  }
  .title_view{
    font-size: 18px;
  }
}
/* RESPONSIVE MÓVIL */
@media screen and (max-width: 420px){
  .home__container{
    padding: 120px 50px;
    width: 100%;
  }
  .main_principal{
    padding: 120px 50px;
    width: 100%;
  }
  .title_view{
    font-size: 16px;
  }
}
