<main class="main_principal_login">

    <h1 class="title_view">Crear una cuenta</h1>

    <div class="container__login_view">

        <div class="mitad1">
            <div class="container__login">
                <!-- izquierda -->
                <div class="container__form">

                    <h2 class="title_rooms">Rooms</h2>

                    <p class="subtitile_rooms"><b>Bienvenido</b>, ya estás más cerca de encontrar
                        tu habitación ideal y a los compañeros perfectos</p>

                    <label class="label_form" for="nombre">Nombre*</label>
                    <input type="text"
                           placeholder="nombre*"
                           required id="nombre"
                           class="input_login em"
                           [(ngModel)]="this.data.name"
                           [ngClass]="{error: errorNombre}"
                           (keyup)="errorNombre = false"
                           (change)="errorNombre = false"
                    >
                  <label *ngIf="errorNombre" class="error" style="border: none">
                    El nombre debe tener entre 3 y 16 caracteres y puede tener
                    números, espacios y guiones.
                  </label>

                    <label class="label_form" for="email">Correo electrónico*</label>
                    <input class="input_login em"
                           placeholder="correo electrónico*"
                           required type="email"
                           id="email"
                            [(ngModel)]="this.data.email"
                           [ngClass]="{error: errorEmail}"
                           (keyup)="errorEmail = false"
                           (change)="errorEmail = false"
                    >
                  <label *ngIf="errorEmail" class="error" style="border: none">
                    Formato de email incorrecto
                  </label>
                    <label class="label_form" for="password">Contraseña*</label>
                    <div class="container_password">
                        <input #inputContra
                                class="input_login"
                               type="password"
                               placeholder="contraseña*"
                               required id="password"
                              [(ngModel)]="this.data.password"
                               [ngClass]="{error: errorPassword}"
                               (keyup)="errorPassword = false"
                               (change)="errorPassword = false"
                        >
                        <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/5217cf84048e4b3b6d7ecbef278af70cf9390dac/images/icons/eye.svg" alt="Ver contraseña" class="password_eye" width="25" (click)="verString(inputContra)">
                    </div>
                  <label *ngIf="errorPassword" class="error" style="border: none">
                    La contraseña debe tener al menos 4 caracteres
                  </label>


                    <div class="container_btn">
                        <button class="btn__get_in"
                                (click)="crearCuenta()"
                        >Crear cuenta</button>
                    </div>

                    <div class="not_account">
                        <p>¿Ya tienes cuenta?</p>
                        <a href="iniciar-sesion">Inicia sesión</a>
                    </div>


                    <div class="politics">
                        <p>Al registrarte estás aceptando los términos, condiciones y nuestra política de privacidad </p>
                    </div>

                </div>
            </div>
        </div>

        <!-- derecha -->
        <div class="container_img">
            <a href="rooms" class="icon_close">
                <img src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/icons/close.png" alt="Cerrar" width="10" class="icon_close">
            </a>
            <!--
                <img class="form_img" src="https://raw.githubusercontent.com/Cintia-Andujar/rooms/main/images/form_1.jpg" alt="Chica en ordenador">
            -->
        </div>

    </div>

</main>

