<main class="main_principal">

    <div class="container_form_btn_page">

        <!-- NOTA PARA QUITAR -->
        <p>Los textos deben ser dinámicos si queremos reutilizar la vista <br> y que el botón lleve a las diferentes vistas de los formularios que correspondan <br> según desde donde venga el usuario</p>


        <h1 class="title_formulario_btn">Te ayudamos a encontrar tu habitación ideal </h1>
        <p class="subtitle_formulario_btn">Si tienes claro cómo y dónde quieres vivir, <br> rellena el siguiente formulario, sólo te llevará unos minutos </p>
        
        <a href="" class="btn_start_form">
            <button class="btn_form">Comenzar con el formulario</button>
        </a>

    </div>
    
</main>