<div>
  <header>
    <h1>Sobre nosotros</h1>
  </header>
  <section class="sectionInfo">
    <h2 class="tituloInfo">
      Conoce al equipo de Rooms
    </h2>
    <div class="listaInfo">
      <div class="equipoCard">
        <h3 class="tituloPersonal">Pedro Ballesta</h3>
        <div class="foto">
          <img src="asdf" alt="Foto de Pedro" class="foto_img">
        </div>
        <p class="descripcionEquipo">
          Desarrollador web y programador backend
        </p>
      </div>

      <div class="equipoCard">
        <h3 class="tituloPersonal">Cintia Andujar</h3>
        <div class="foto">
          <img src="asdf" alt="Foto de Pedro" class="foto_img">
        </div>
        <p class="descripcionEquipo">
          Diseñadora y desarrolladora web, diseño UX/UI y programación frontend
        </p>
      </div>

      <div class="equipoCard">
        <h3 class="tituloPersonal">Jonathan Cáceres</h3>
        <div class="foto">
          <img src="asdf" alt="Foto de Pedro" class="foto_img">
        </div>
        <p class="descripcionEquipo">
          Desarrollador web y programador frontend
        </p>
      </div>
    </div>
  </section>
</div>
